<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
    <ul class="products">
      <% for(i = 0; i < itemList.length; i++){ %>
        <li class="item">
          <h2><%= itemList[i].name %> </h2>
          <img src= <%= itemList[i].imageURL %>>
          <p class="itemPrice">
            <% if(itemList[i].price == 0){ %>
              FREE
              <%} else {%>
                $<%= parseFloat(itemList[i].price).toFixed(2) %>
                <% } %>
          </p>
          <p class="itemDesc">Description: <%= itemList[i].description %> </p>
          <p class="itemNote"><%= itemList[i].note %> </p>
          <p class="itemTags">Tags: 
            <% for(j = 0; j < itemList[i].tags.length; j++) { %>
            <%=itemList[i].tags[j]%><% if((j + 1) != itemList[i].tags.length) { %>,
            <%}} %>
          </p>
          <p class="alsoBought">People who bought this also bought: 
            <br>
            <% for(j = 0; j < itemList[i].alsoBought.length; j++) { %> 
            <%=itemList[i].alsoBought[j]%><% if((j + 1) != itemList[i].alsoBought.length) { %>,
            <% }} %> 
          </p>
            <br><br>
        </li> 
      <% } %>
    </ul>
</div>


</body>
</html>
