<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
  <% if (itemList.length > 0) { %>
    <ul class="products">
      <% for(i = 0; i < itemList.length; i++){ %>
        <li class="item">
          <h2><%= itemList[i].productID.title %> </h2>
          <img src= <%= itemList[i].productID.imageURL %>>
          <p class="itemPrice">
            <% if(itemList[i].productID.price == 0){ %>
              FREE
            <%} else {%>
              $<%= parseFloat(itemList[i].productID.price).toFixed(2) %> 
            <% } %>
          </p>
          <p class="itemDesc">Description: <%= itemList[i].productID.description %> </p>
          <p>Number in cart: <%= itemList[i].quantity %></p>
          <form action="/shop/cartDelete" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <input type="hidden" name="deleteID" value="<%= itemList[i].productID._id %>">
            <input type="number" name="amount" min="1" max="<%= itemList[i].quantity %>">
            <button type="submit">Remove from Cart</button>
          </form>
        </li> 
      <% } %>
    </ul>
  <% } else { %>
    <h2>No items found!</h2>
  <% } %>
</div>


</body>
</html>
