<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
    <ul class="products">
      <% for(i = 0; i < itemList.length; i++){ %>
        <li class="item">
          <h2><%= itemList[i].name %> </h2>
          <img src= <%= itemList[i].imageURL %>>
          <p class="itemPrice">
            <% if(itemList[i].price == 0){ %>
              FREE
            <%} else {%>
              $<%= parseFloat(itemList[i].price).toFixed(2) %>
            <% } %>
          </p>
          <p class="itemDesc">Description: <%= itemList[i].description %> </p>
          <% if(isLoggedIn){ %>
            <form action="/shop/cart" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken%>">
              <input type="number" name="amount" min="1">
              <input type="hidden" name="productID" value="<%= itemList[i]._id %>">
              <button type="submit">Add to Cart</button>
            </form>
          <%}%>
        </li> 
      <% } %>
    </ul>
</div>


</body>
</html>
